*{
    font-family: 'Syne Mono', monospace;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body{
    background-color: #000000;
    font-family: "Helvetica Neue", sans-serif;
}

.cima-cadastro header{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#c9960bcb;
    width: 100%;
    padding: 2.5rem 2rem;

}

.cima-cadastro header h1{
    margin-right: auto;
    font-size: 2rem;
    width: 100px;
}

.cima-cadastro header nav{
    width: 18rem;
    margin-left: 1rem;
    font-family: 'Blinker', sans-serif;
}

.cima-cadastro header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.cima-cadastro header nav ul li{
    list-style-type: none;
    margin-right: 0.8rem;
}

.cima-cadastro header nav ul li a{
    text-decoration: none;

    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;

    transition: all 0.2s;
}

.cima-cadastro header nav ul li a:hover{
    opacity: 0.6;
    color: #000000;
}

.centro-cadastro{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: content-box;
    
    padding-top: 180px;
    height: 200px;
    width: 100%;
            
}
input{
    width: 15rem;
   padding: 10px 15px;
   margin: 0.05rem;
   box-sizing: inherit;
   border: 2px solid rgb(0, 0, 0);
   border-radius: 4px;
   color:#c9960b;
   }

   footer{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 9rem 0 1rem 0;
    margin-bottom: 1rem;
    color:#ffffff ;
}


footer a{
    margin: 0 auto;

    height: 1rem;
    width: 30rem;
   
}

footer p{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}