*{
    font-family: 'Syne Mono', monospace;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body{
    background-color: #000000;
    font-family: "Helvetica Neue", sans-serif;
}

.cima{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0 2rem;

    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    color: rgb(255, 255, 255);
}

.cima header{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#c9960bcb;
    width: 100%;
    padding: 0.8rem 2rem;
}

.cima header h1{
    margin-right: auto;
    font-size: 1.3rem;
}

.cima header nav{
    width: 15rem;
    margin-left: 1rem;
    font-family: 'Blinker', sans-serif;
}

.cima header h1 img{
    height: 80px;
    width:220px;

}
.cima header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.cima header nav ul li{
    list-style-type: none;
    margin-right: 0.8rem;
}

.cima header nav ul li a{
    text-decoration: none;

    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;

    transition: all 0.2s;
}

.cima header nav ul li a:hover{
    opacity: 0.6;
    color: #000000;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: content-box;
    
    padding-top: 180px;
    height: 400px;
    width: 0%;
            
}

input{
     width: 15rem;
    padding: 12px 20px;
    margin: 0.05rem;
    box-sizing: inherit;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    color:#c9960b;
    }
.centro input{
    box-sizing: content-box;
}
    
.centro li{
    width: 200px;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 9rem 0 1rem 0;
    margin-bottom: 1rem;
    color:#ffffff ;
}


footer a{
    margin: 0 auto;

    height: 7rem;
    width: 30.4rem;
   
}

footer p{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}